<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1239607564-vst8g99galjoig6l9hmp9fk3nl1poj6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1239607564-vst8g99galjoig6l9hmp9fk3nl1poj6l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1239607564-74o5vs3muehoupgquh1vqrjasichm61l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAt1vkE6QV-_5_wVtk59YaIUE1axdkqXjk</string>
	<key>GCM_SENDER_ID</key>
	<string>1239607564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.designApp</string>
	<key>PROJECT_ID</key>
	<string>bayon-watchs</string>
	<key>STORAGE_BUCKET</key>
	<string>bayon-watchs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1239607564:ios:cea763747af0bcd168c129</string>
</dict>
</plist>